@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;600&display=swap");

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Cormorant Unicase', sans-serif;
    background-color: #010208 ;
    color: beige;
}

.container {
    max-width: 1245px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color:#010208 ;

}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.lang img {
    margin-top: 1px;
 width: 30px;
 height: 20px;
 margin-bottom: 1px;
 border-radius: 11px;
}



.menu_list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    transition: all .2s;

}

.menu_list.active {
    transform: translateX(0);
}

.menu_link:hover  {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54BBC 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.menu_link {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #E3E4E6;
    text-decoration: none;
}
.menu_link.active {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54BBC 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.menu_link.active::before {
    opacity: 1;
    visibility: visible;
}

.menu_icon {
    display: none;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}
/* burger menu */
.menu_icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all .2s;
}
.menu_icon span:first-child {
    top: 0;
}
.menu_icon span:last-child {
    top: auto;
    bottom: 0;
}
.menu_icon.active span {
    transform: scale(0);
}
.menu_icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
}
.menu_icon.active span:last-child {
    transform: rotate(45deg) ;
    bottom: calc(50% - 1px);
}
/* конец бургер меню */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 400px;
}

.hero_title {
    font-weight: 300;
    font-size: 56px;
    text-align: center;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(227, 228, 230, 0.55);

}
.hero_title span {
    font-weight: 600;
    color: #e3e4e6;

}
.hero_arrow {
   
    border: none;
    width: 40px;
    height: 40px;
    background: transparent url('../img/arrow.svg') center center no-repeat; 
    position: absolute;
    left: 50%;
    bottom: 42px;
    transform: translateX(-50%) rotate(90deg);
    cursor: pointer;
}

.clients {
    padding: 80px 0 130px;
}


.clients_title {
    color: #E3E4E6;
    font-weight: 600;
    max-width: 520px;

    font-size: 40px;
    line-height: 150%;

}
.clients_title span {
    color:rgba(227, 228, 230, 0.55) ;
    font-weight: 300;
}

.clients_body {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}
.works {
    padding: 80px 0 120px;
}
.skills {

    font-size: 20px;    
}
.copy, .web, .smm ,.russ {
    color: #e1d2eb;
    text-shadow:
        0 0 7px #d90ef4,
        0 0 10px #4d4a4a,
        0 0 21px #323030,
        0 0 42px rgb(221, 0, 255),
        0 0 82px rgb(200, 0, 255),
        0 0 92px rgb(212, 0, 255),
        0 0 102px rgb(128, 0, 255),
        0 0 151px rgb(166, 0, 255);
}
.copy{
    margin-left: 55px;

 
}
.web  {
    margin-left: 35px;
}
.smm {
    margin-left: 50px;
}
.russ {
    margin-right: 5px ;
}

.works {
    padding: 80px 0 120px;
}


.works_title {
    font-weight: 300;
    font-size: 40px;
    color: rgba(227, 228, 230, 0.55);
}

.works_title span {
    color: #E3E4E6;
    font-weight: 600;
}
.works_body {
    margin-top: 95px;
}
.works__card {
    display: flex;
}

.card__img {
    border-radius: 16px;
    overflow: hidden;
    flex: 0 0 50%;
}
.card__img img {
    max-width: 100%;
}
.card {
    display: flex;
    gap: 32px;
}
.card:not(:last-child) {
    margin-bottom: 95px;
}
.card_r {
    flex-direction: row-reverse;
}

.card__info {
    flex: 1 1 auto;
    align-self: flex-end;
}
.card__tag {
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #E3E4E6;
    margin-bottom: 16px;
}

.card__text {
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    color: rgba(227, 228, 230, 0.55);
    margin-bottom: 24px;
}

.card__text span {
    font-weight: 600;
    color: #E3E4E6;
}
.card__category {
    font-size: 18px;
    color: #E3E4E6;
}
.card__button {
    display: inline-block;
    margin-top: 32px;
    padding: 8px 48px 8px 16px ;
    border: 1px solid rgba(227, 228, 230, 0.55);
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    position: relative;
    /* background: transparent url('../img/arrow.svg') right 15px center no-repeat; */
}
.card__button::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: transparent url('../img/arrow.svg') center center no-repeat;
}
.card__button:hover {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54BBC 106.32%);
    border: 1px solid #E3E4E6;
}
.card__button:hover::before {
    background: transparent url('../img/arrow-hover.svg') center center no-repeat;

}

.about {
    padding: 75px 0;
}
.about_container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.about_text {
    font-size: 32px;
    line-height: 150%;
    color: #E3E4E6;
    font-weight: 600;
    margin-top: 10px;
}
.about_text span {
    color: rgba(227, 228, 230, 0.55);
    font-weight: 300;
}

.about_title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #E3E4E6;
}
.about_gallery {
    flex: 0 0 33%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}
.about_img {
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s;
}
.about_img img {
    /* если что не так надо поправить тут */
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.about_img:nth-child(1) {
    grid-column: 1/2;
    grid-row: 2/4;
}
.about_img:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
}
.about_img:nth-child(3) {
    grid-column: 2/3;
    grid-row: 3/5;
}

.about_img:hover {
    transform: scale(1.1);
}

.footer {
    padding: 80px 0 40px;
}
.footer_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer_title {
    font-size: 56px;
    letter-spacing: -0.02em;
    font-weight: 600;
    color: #e3e4e6;
    margin-top: 15px;
}
.footer_title span {
    font-weight: 300;
    color: rgba(227, 228, 230, 0.55);
}

.footer_subtitle {
    font-weight: 300;
    font-size: 18px;
    color: #E3E4E6;
}
.footer_socials {
    display: flex;
    margin-top: 60px;
    align-items: center;
}
.footer__social {
    transition: all .2s;

}
.footer__social:not(:last-child) {
    margin-right: 75px;
}
.footer__social:hover {
    transform: scale(1.5);
}
.footer_copyright {
    margin-top: 60px;
    font-weight: 300;
    color: rgba(227, 228, 230, 0.55);
}
.footer_copyright span {
    font-weight: 600;
    color: #e3e4e6;
}
.works, .about {
    scroll-margin-top: 30px;
}
@media (max-width: 992px) {
    .about_container {
        flex-direction: column;
    }
    .about_gallery {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: stretch;

    }

}

@media (max-width: 910px) {
    .clients_body {
        justify-content: space-evenly;

    }
}

@media (max-width: 576px) {
    .clients, .works , .about {
        padding: 30px 0 ;
    }
    .clients_title, .works_title {
        font-size: 30px;
    }
    .clients_body, .works_body {
        margin-top: 40px ;
    }
    .card:not(:last-child) {
        margin-bottom: 50px;
    }
    .menu_icon {
        display: block;
    }

    .menu_list {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #010208;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* чтобы убрать меню */
        transform: translateX(-100%);
    }
    .menu_link {
        font-size: 30px;
    }
    .works, .about {
        scroll-margin-top: 70px;
    }
    .lang img {
     margin-top: 7px;
     width: 70px;
     height: 50px;
     margin-bottom: 1px;
    }
}

@media (max-width: 768px) {
    .hero_title {
        font-size: 35px;
    }
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about_text {
        font-size: 20px;
    }
    .about {
        padding: 84px 0;
    }

@media (max-width: 475px) {
    .card__text, .about_text {
        font-size: 25px;
        margin-top: 10px;
    }
}

@media (max-width: 375px) {
    .hero_title {
        font-size: 25px;
    }
    .footer_title {
        font-size: 35px;
    }
}
}

